@charset "UTF-8";
/*
    font face
 */
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.woff");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.woff");
}

/*
    general style
 */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
}

body {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 25px;
  background: #dbe3f1;
}

@media (max-width: 767px) {
  body {
    font-size: 16px;
    line-height: 21px;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 14px;
    line-height: 19px;
  }
}

.container {
  width: 1120px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 979px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 94%;
  }
}

@media (max-width: 576px) {
  .container {
    width: 90%;
    min-width: 290px;
  }
}

a {
  display: block;
  text-decoration: none;
  text-align: center;
}

a:active, a:focus {
  outline: none;
}

img {
  display: block;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

img.logo {
  margin: 0;
}

@media (max-width: 767px) {
  img.logo {
    width: 72%;
    max-width: 450px;
    min-width: 227px;
  }
}

@media (max-width: 576px) {
  img.logo {
    width: 78%;
  }
}

h1, h2, h3, h4, h5 {
  font-family: "OpenSans-Bold", sans-serif;
}

h1, h2 {
  font-size: 48px;
  line-height: 65px;
  color: #66daff;
  max-width: 690px;
  position: relative;
}

@media (max-width: 767px) {
  h1, h2 {
    font-size: 38px;
    line-height: 46px;
  }
}

@media (max-width: 576px) {
  h1, h2 {
    font-size: 28px;
    line-height: 34px;
  }
}

h3, h4 {
  color: #464f62;
}

h3 {
  font-size: 36px;
  line-height: 49px;
}

@media (max-width: 767px) {
  h3 {
    font-size: 30px;
    line-height: 41px;
  }
}

@media (max-width: 576px) {
  h3 {
    font-size: 24px;
    line-height: 33px;
  }
}

h4 {
  font-size: 24px;
  line-height: 33px;
}

@media (max-width: 767px) {
  h4 {
    font-size: 21px;
    line-height: 29px;
  }
}

@media (max-width: 576px) {
  h4 {
    font-size: 18px;
    line-height: 25px;
  }
}

h5 {
  font-size: inherit;
  line-height: inherit;
}

@media (max-width: 576px) {
  h5 {
    font-size: 16px;
    line-height: 22px;
  }
}

p {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

p.title {
  font-size: 24px;
  line-height: 33px;
  color: #fff;
  max-width: 661px;
}

.price span.old-price {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 36px;
  line-height: 49px;
  color: #fff;
  display: inline-block;
  position: relative;
  margin-right: 28px;
}

@media (max-width: 767px) {
  .price span.old-price {
    font-size: 29px;
    line-height: 39px;
    margin-right: 13px;
  }
}

@media (max-width: 576px) {
  .price span.old-price {
    font-size: 22px;
    line-height: 30px;
  }
}

.price span.old-price:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 55%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.price span.new-price {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 48px;
  line-height: 65px;
  color: #dff029;
}

@media (max-width: 767px) {
  .price span.new-price {
    font-size: 38px;
    line-height: 51px;
  }
}

@media (max-width: 576px) {
  .price span.new-price {
    font-size: 28px;
    line-height: 38px;
  }
}

.to-order a, .to-order button, .form-group.order a, .form-group.order button {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 24px;
  line-height: 33px;
  color: #464f62;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background: #dff029;
  border: none;
  border-radius: 45px;
  -webkit-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

.to-order a:hover, .to-order button:hover, .form-group.order a:hover, .form-group.order button:hover {
  color: #fff;
  background: #66daff;
}

.to-order {
  max-width: 300px;
}

@media (max-width: 576px) {
  .to-order {
    width: 100%;
    max-width: 390px;
  }
}

.to-order a {
  padding: 14px 0 13px;
}

.to-order p {
  color: #fff;
  margin-top: 30px;
}

.sale {
  width: 112px;
  height: 212px;
  background: url("../img/sale.png") no-repeat center/cover;
}

@media (max-width: 767px) {
  .sale {
    width: 91px;
    height: 172px;
  }
}

@media (max-width: 576px) {
  .sale {
    width: 70px;
    height: 131px;
  }
}

.sale h3 {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 52px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sale h3 strong {
  text-transform: uppercase;
  color: #dff029;
}

.sale h3 span {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 25px;
  display: block;
  margin-top: -5px;
}

@media (max-width: 576px) {
  .sale h3 {
    top: 32.15px;
  }
}

.sale:after {
  content: "";
  display: block;
  width: 2px;
  height: 108px;
  background: #000;
  position: absolute;
  top: -86px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.decor {
  width: 759px;
  height: 1216px;
  position: absolute;
}

@media (max-width: 979px) {
  .decor {
    width: 653px;
    height: 1177px;
  }
}

a.bucket {
  width: 90px;
  height: 90px;
  background: #dff029;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 576px) {
  a.bucket {
    right: 15px;
  }
}

a.bucket:after {
  content: "";
  display: block;
  width: 50px;
  height: 44px;
  background: url("../img/bucket.png") no-repeat center/cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

ul.slick-dots {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul.slick-dots li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 7px;
  height: 7px;
  border: 1px solid #60697a;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 4.5px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

ul.slick-dots li button {
  display: none;
}

ul.slick-dots li.slick-active {
  background: #60697a;
}

.body-filter {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: -5;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

/*
    header style
 */
.header {
  background: -o-linear-gradient(352.43deg, rgba(70, 79, 98, 0.8) 0%, rgba(180, 195, 208, 0.8) 100%), url("../img/header/bg.jpg") no-repeat center/cover;
  background: linear-gradient(97.57deg, rgba(70, 79, 98, 0.8) 0%, rgba(180, 195, 208, 0.8) 100%), url("../img/header/bg.jpg") no-repeat center/cover;
  padding: 47px 0 65px;
}

@media (max-width: 979px) {
  .header {
    padding: 15px 0 25px;
  }
}

.header .container {
  position: relative;
}

.header .container .decor {
  background: url("../img/header/line.png") no-repeat center/cover;
  top: -301.64px;
  left: -565px;
}

@media (max-width: 979px) {
  .header .container .decor {
    left: -445px;
  }
}

@media (max-width: 767px) {
  .header .container .decor {
    left: -345px;
  }
}

@media (max-width: 576px) {
  .header .container .decor {
    background: url("../img/header/line-md.png") no-repeat center/cover;
    top: -318.68px;
    left: -180.69px;
  }
}

.header__content {
  position: relative;
  z-index: 9;
}

.header__content-img {
  width: 92%;
  position: absolute;
  top: -44.21px;
  right: -319.98px;
}

@media (max-width: 1599px) {
  .header__content-img {
    right: -225.98px;
  }
}

@media (max-width: 1199px) {
  .header__content-img {
    width: 75%;
    top: 160px;
    right: -125.98px;
  }
}

@media (max-width: 979px) {
  .header__content-img {
    width: 100%;
    position: relative;
    top: 0;
    left: -7%;
    margin: -25px 0 -55px;
  }
}

@media (max-width: 576px) {
  .header__content-img {
    width: 129%;
    left: -22.41%;
    margin: 0 0 -33px;
  }
}

.header__content-img img {
  width: 100%;
}

.header__content-img .sale {
  position: absolute;
  top: 10.50%;
  right: 31.18%;
}

@media (max-width: 1199px) {
  .header__content-img .sale {
    top: 29.5%;
    right: 19.18%;
  }
}

@media (max-width: 979px) {
  .header__content-img .sale {
    top: 15px;
    right: 60px;
  }
}

@media (max-width: 767px) {
  .header__content-img .sale {
    right: 30px;
  }
}

@media (max-width: 576px) {
  .header__content-img .sale {
    right: 20px;
  }
}

.header__content h1 {
  margin: 51px 0 20px;
}

@media (max-width: 979px) {
  .header__content h1 {
    margin: 0 0 0;
  }
}

@media (max-width: 767px) {
  .header__content p.title {
    display: none;
  }
}

.header__content .price {
  margin: 30px 0;
}

.header__content .price span.new-price {
  position: relative;
  display: inline-block;
}

.header__content .price span.new-price:after {
  content: "";
  display: block;
  width: 105px;
  height: 91px;
  background: url("../img/header/arrow.png") no-repeat center/cover;
  -webkit-transform: rotate(100.8deg);
      -ms-transform: rotate(100.8deg);
          transform: rotate(100.8deg);
  position: absolute;
  top: 45.4px;
  right: -90.03px;
}

@media (max-width: 767px) {
  .header__content .price span.new-price:after {
    width: 76px;
    height: 66px;
    top: -10px;
    right: -76px;
    -webkit-transform: rotate(32.66deg);
        -ms-transform: rotate(32.66deg);
            transform: rotate(32.66deg);
  }
}

@media (max-width: 576px) {
  .header__content .price span.new-price:after {
    width: 47px;
    height: 41px;
    top: -5px;
    right: -47px;
  }
}

@media (max-width: 767px) {
  .header__content .to-order {
    margin: 0 auto 0;
  }
}

@media (max-width: 979px) {
  .header__content .to-order p {
    margin-top: 15px;
    text-align: center;
  }
}

/*
    advantages style
 */
.advantages {
  padding: 79px 0 123px;
  position: relative;
  overflow: hidden;
  background: #dbe3f1;
}

@media (max-width: 979px) {
  .advantages {
    padding: 12px 0 35px;
  }
}

@media (max-width: 767px) {
  .advantages {
    padding-bottom: 0;
  }
}

.advantages .container {
  position: relative;
}

.advantages .container .decor {
  background: url("../img/advantages/line.png") no-repeat center/cover;
  top: -282.23px;
  right: -562px;
}

@media (max-width: 979px) {
  .advantages .container .decor {
    display: none;
  }
}

.advantages__content {
  position: relative;
  z-index: 9;
}

.advantages__content-img {
  width: 74%;
  position: absolute;
  top: -19px;
  left: -27.77%;
}

@media (max-width: 1599px) {
  .advantages__content-img {
    width: 60%;
    top: 50%;
    left: -6.77%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media (max-width: 979px) {
  .advantages__content-img {
    position: relative;
    width: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 576px) {
  .advantages__content-img {
    width: 125%;
    min-width: 364px;
  }
}

.advantages__content-img img {
  width: 100%;
}

.advantages__content-img figure {
  width: 37px;
  height: 37px;
  position: absolute;
}

@media (max-width: 576px) {
  .advantages__content-img figure {
    width: 19px;
    height: 19px;
  }
}

.advantages__content-img figure svg {
  width: 100%;
  height: 100%;
}

.advantages__content-img figure svg circle {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.advantages__content-img figure.first {
  top: 13.58%;
  right: 39.17%;
}

.advantages__content-img figure.second {
  top: 38.28%;
  right: 37.58%;
}

.advantages__content-img figure.third {
  top: 42.32%;
  left: 45.86%;
}

.advantages__content-img figure.fourth {
  top: 60.23%;
  left: 37.37%;
}

.advantages__content-img figure.fifth {
  width: 41px;
  height: 41px;
  top: 65.9%;
  right: 21.35%;
}

@media (max-width: 576px) {
  .advantages__content-img figure.fifth {
    width: 19px;
    height: 19px;
  }
}

.advantages__content-img figure.active svg circle:nth-child(1) {
  fill: #66DAFF;
  fill-opacity: 0.5;
}

.advantages__content-img figure.active svg circle:nth-child(2) {
  stroke: #66DAFF;
}

.advantages__content-info {
  width: 59%;
  max-width: 652px;
  margin-left: auto;
}

@media (max-width: 1599px) {
  .advantages__content-info {
    width: 51%;
  }
}

@media (max-width: 1199px) {
  .advantages__content-info {
    width: 53%;
  }
}

@media (max-width: 979px) {
  .advantages__content-info {
    width: 100%;
    max-width: 100%;
  }
}

.advantages__content-info h3 {
  margin: 0 0 30px 10px;
}

@media (max-width: 1199px) {
  .advantages__content-info h3 {
    font-size: 35px;
    line-height: 48px;
    margin-left: 0;
  }
}

@media (max-width: 979px) {
  .advantages__content-info h3 {
    font-size: 36px;
    line-height: 49px;
    margin: 5.62px auto 15px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .advantages__content-info h3 {
    font-size: 30px;
    line-height: 41px;
  }
}

@media (max-width: 576px) {
  .advantages__content-info h3 {
    font-size: 24px;
    line-height: 33px;
  }
}

.advantages__content-info ul li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 57px;
  color: #464f62;
  margin-bottom: 24.75px;
  position: relative;
}

.advantages__content-info ul li:before {
  content: "";
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #464f62;
  display: block;
  width: 47px;
  padding: 7px 0;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  left: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 767px) {
  .advantages__content-info ul li:before {
    font-size: 21px;
    line-height: 29px;
    padding: 9px 0;
  }
}

@media (max-width: 576px) {
  .advantages__content-info ul li:before {
    font-size: 18px;
    line-height: 25px;
    padding: 11px 0;
  }
}

.advantages__content-info ul li:first-child:before {
  content: "01";
}

.advantages__content-info ul li:nth-child(2):before {
  content: "02";
}

.advantages__content-info ul li:nth-child(3):before {
  content: "03";
}

.advantages__content-info ul li:nth-child(4):before {
  content: "04";
}

.advantages__content-info ul li:last-child {
  margin-bottom: 0;
}

.advantages__content-info ul li:last-child:before {
  content: "05";
}

.advantages__content-info ul li.active:before {
  color: #fff;
  background: #464f62;
}

/*
    gallery style
 */
.gallery {
  padding: 0 0 43px;
}

@media (max-width: 979px) {
  .gallery {
    padding: 0;
  }
}

.gallery__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .gallery__content {
    display: none;
  }
}

.gallery__content a {
  width: 20%;
  max-width: 360px;
  border-radius: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
  z-index: 9;
}

@media (max-width: 1899px) {
  .gallery__content a {
    width: 19%;
  }
}

.gallery__content a img {
  width: 100%;
  border-radius: inherit;
}

.gallery__content a:hover {
  -webkit-transform: scale(1.18);
      -ms-transform: scale(1.18);
          transform: scale(1.18);
  -webkit-filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
  z-index: 11;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .gallery__content a:hover {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  }
}

.gallery__mobile {
  display: none;
  position: relative;
  z-index: 11;
}

@media (max-width: 767px) {
  .gallery__mobile {
    display: block;
  }
}

.gallery__mobile .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__mobile-item a {
  border-radius: 20px;
}

.gallery__mobile-item a img {
  width: 100%;
  border-radius: inherit;
}

.gallery__mobile ul.slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -20px;
  position: relative;
  z-index: 20;
}

/*
    video style
 */
.video {
  padding: 80px 0;
  position: relative;
}

@media (max-width: 979px) {
  .video {
    padding: 35px 0;
  }
}

.video__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 979px) {
  .video__content {
    display: block;
  }
}

.video__content-block {
  width: 58%;
  max-width: 645px;
  border-radius: 20px;
  background: #000;
}

@media (max-width: 979px) {
  .video__content-block {
    width: 100%;
    margin: 0 auto;
  }
}

.video__content-block figure {
  height: 450px;
  position: relative;
  border-radius: inherit;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .video__content-block figure {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 1199px) {
  .video__content-block figure {
    height: 383px;
  }
}

@media (max-width: 979px) {
  .video__content-block figure {
    height: 450px;
  }
}

@media (max-width: 767px) {
  .video__content-block figure {
    height: auto;
    padding-bottom: 70%;
  }
}

.video__content-block figure img {
  border-radius: inherit;
}

.video__content-block figure iframe {
  border-radius: inherit;
}

.video__content-block figure .video-play {
  width: 80px;
  height: 80px;
  background: url("../img/video/video-play.png") no-repeat center/cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
}

@media (max-width: 767px) {
  .video__content-block figure .video-play {
    width: 58px;
    height: 58px;
  }
}

@media (max-width: 576px) {
  .video__content-block figure .video-play {
    width: 36px;
    height: 36px;
  }
}

.video__content-info {
  width: 37%;
  max-width: 406px;
}

@media (max-width: 979px) {
  .video__content-info {
    width: 80%;
    min-width: 234px;
    margin: 35.33px auto 0;
  }
}

.video__content-info ul li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 100px;
  position: relative;
}

@media (max-width: 979px) {
  .video__content-info ul li {
    padding-left: 0;
    text-align: center;
  }
}

.video__content-info ul li p {
  color: #464f62;
}

.video__content-info ul li:before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 979px) {
  .video__content-info ul li:before {
    position: static;
    margin: 0 auto 10px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}

@media (max-width: 767px) {
  .video__content-info ul li:before {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 576px) {
  .video__content-info ul li:before {
    width: 50px;
    height: 50px;
  }
}

.video__content-info ul li:first-child:before {
  background: url("../img/video/1.png") no-repeat center/auto, #464f62;
}

.video__content-info ul li:nth-child(2) {
  margin: 101.5px auto;
}

@media (max-width: 979px) {
  .video__content-info ul li:nth-child(2) {
    margin: 15px auto;
  }
}

.video__content-info ul li:nth-child(2):before {
  background: url("../img/video/2.png") no-repeat center/auto, #464f62;
}

.video__content-info ul li:last-child:before {
  background: url("../img/video/3.png") no-repeat center/auto, #464f62;
}

.video:before {
  content: "";
  display: block;
  width: 100%;
  height: 1440px;
  background: url("../img/video/bg.png") no-repeat center/cover;
  position: absolute;
  top: -255px;
  right: 0;
}

@media (max-width: 979px) {
  .video:before {
    width: 1920px;
    height: 1440px;
    top: -22px;
    right: 0;
  }
}

@media (max-width: 576px) {
  .video:before {
    width: 1713px;
    height: 1285px;
    right: -320px;
  }
}

/*
    catalog style
 */
.catalog {
  padding-bottom: 80px;
  position: relative;
}

@media (max-width: 979px) {
  .catalog {
    padding-bottom: 35px;
  }
}

.catalog h4 {
  color: #fff;
}

.catalog .price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: 52px;
  right: 40px;
}

@media (max-width: 1199px) {
  .catalog .price {
    right: 20px;
  }
}

@media (max-width: 979px) {
  .catalog .price {
    position: static;
    display: block;
    text-align: center;
  }
}

.catalog .price span.old-price {
  font-size: 18px;
  line-height: 25px;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  margin: 3px 0 0;
}

@media (max-width: 979px) {
  .catalog .price span.old-price {
    margin: 0 20px 0 0;
  }
}

@media (max-width: 576px) {
  .catalog .price span.old-price {
    margin: 0 15px 0 0;
  }
}

.catalog .price span.new-price {
  font-size: 36px;
  line-height: 49px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.catalog form {
  width: 265px;
}

@media (max-width: 576px) {
  .catalog form {
    width: 91%;
    min-width: 265px;
    max-width: 390px;
  }
}

.catalog form .form-group input {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 7px 27px 6px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 45px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.catalog form .form-group input::-webkit-input-placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  opacity: 1;
}

.catalog form .form-group input::-moz-placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  opacity: 1;
}

.catalog form .form-group input:-ms-input-placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  opacity: 1;
}

.catalog form .form-group input::-ms-input-placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  opacity: 1;
}

.catalog form .form-group input::placeholder {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  opacity: 1;
}

.catalog form .form-group input:active, .catalog form .form-group input:focus, .catalog form .form-group input:required {
  outline: none;
}

.catalog form .form-group input:active, .catalog form .form-group input:focus {
  color: #dff029;
  border: 1px solid #dff029;
}

.catalog form .form-group input:-webkit-autofill,
.catalog form .form-group input:-webkit-autofill:hover,
.catalog form .form-group input:-webkit-autofill:focus
input:-webkit-autofill,
.catalog form .form-group textarea:-webkit-autofill,
.catalog form .form-group textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
.catalog form .form-group select:-webkit-autofill,
.catalog form .form-group select:-webkit-autofill:hover,
.catalog form .form-group select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  background: transparent;
  border: 1px solid #fff;
  color: #fff !important;
}

.catalog form .form-group button {
  padding: 9px 0 8px;
}

.catalog form .form-group.tel {
  margin: 15px auto;
}

.catalog .decor {
  background: url("../img/catalog/line.png") no-repeat center/cover;
  top: -323.23px;
  right: -162.61px;
  z-index: -1;
}

@media (max-width: 979px) {
  .catalog .decor {
    display: none;
  }
}

.catalog__shoe {
  position: relative;
  z-index: 9;
}

.catalog__shoe-model {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 64px 40px 51px;
  background: #464f62;
  border-radius: 20px;
  position: relative;
  z-index: 11;
  overflow: hidden;
}

@media (max-width: 1199px) {
  .catalog__shoe-model {
    padding: 64px 20px 51px;
  }
}

@media (max-width: 979px) {
  .catalog__shoe-model {
    padding: 15px 25px;
  }
}

@media (max-width: 576px) {
  .catalog__shoe-model {
    padding: 15px 12px;
  }
}

.catalog__shoe-model img.logo {
  width: 178px;
  position: absolute;
  top: 58px;
  left: 40px;
}

@media (max-width: 1199px) {
  .catalog__shoe-model img.logo {
    left: 20px;
  }
}

@media (max-width: 979px) {
  .catalog__shoe-model img.logo {
    position: static;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .catalog__shoe-model img.logo {
    min-width: 178px;
  }
}

.catalog__shoe-model h4 {
  width: 415px;
  margin-left: auto;
}

@media (max-width: 979px) {
  .catalog__shoe-model h4 {
    margin: 10px auto 1px;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .catalog__shoe-model h4 {
    width: 100%;
  }
}

.catalog__shoe-model__img img.big {
  position: absolute;
}

@media (max-width: 979px) {
  .catalog__shoe-model__img img.big {
    position: static;
  }
}

.catalog__shoe-model__img .image {
  width: 49%;
  max-width: 543px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 95px;
  left: 5%;
}

@media (max-width: 1199px) {
  .catalog__shoe-model__img .image {
    left: 20px;
  }
}

@media (max-width: 979px) {
  .catalog__shoe-model__img .image {
    width: 100%;
    position: static;
    margin: 0 auto;
  }
}

.catalog__shoe-model__img .image a {
  width: 29%;
  max-width: 157px;
  border-radius: 20px;
}

@media (max-width: 576px) {
  .catalog__shoe-model__img .image a {
    width: 31%;
    min-width: 84px;
    border-radius: 10px;
  }
}

.catalog__shoe-model__img .image a img {
  width: 100%;
  border-radius: inherit;
}

.catalog__shoe-model ul {
  width: 415px;
  margin: 62px 0 30px auto;
}

@media (max-width: 979px) {
  .catalog__shoe-model ul {
    margin: 15px auto 34px;
  }
}

@media (max-width: 576px) {
  .catalog__shoe-model ul {
    width: 100%;
    max-width: 415px;
  }
}

.catalog__shoe-model ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__shoe-model ul li span {
  color: #fff;
}

.catalog__shoe-model ul li span:nth-child(1) {
  display: inline-block;
  width: 249px;
}

@media (max-width: 576px) {
  .catalog__shoe-model ul li span:nth-child(1) {
    width: 139px;
  }
}

.catalog__shoe-model ul li span:nth-child(2) {
  display: inline-block;
  width: calc(100% - 249px);
}

@media (max-width: 576px) {
  .catalog__shoe-model ul li span:nth-child(2) {
    width: calc(100% - 139px);
  }
}

.catalog__shoe-model__info {
  width: 415px;
  margin-left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 979px) {
  .catalog__shoe-model__info {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .catalog__shoe-model__info {
    display: block;
  }
}

@media (max-width: 576px) {
  .catalog__shoe-model__info {
    width: 100%;
  }
}

.catalog__shoe-model__info .size {
  width: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .catalog__shoe-model__info .size {
    width: 265px;
    margin: 0 auto 39px;
  }
}

.catalog__shoe-model__info .size span {
  text-align: center;
  color: #fff;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 35px;
  height: 35px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.catalog__shoe-model__info .size span:before, .catalog__shoe-model__info .size span:after {
  content: "";
  display: block;
  position: absolute;
  font-family: "OpenSans-Regular", sans-serif;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.catalog__shoe-model__info .size span:before {
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.catalog__shoe-model__info .size span:after {
  font-size: 14px;
  line-height: 19px;
  text-align: left;
  color: #66daff;
  width: 53px;
  top: -19px;
  right: -53px;
  opacity: 0;
}

@media (max-width: 767px) {
  .catalog__shoe-model__info .size span:after {
    text-align: center;
    top: calc(100% + 5px);
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.catalog__shoe-model__info .size span.active {
  background: #66daff;
  border: 1px solid #66daff;
}

.catalog__shoe-model__info .size span.active:before {
  color: #464f62;
}

.catalog__shoe-model__info .size span.active:after {
  opacity: 1;
}

.catalog__shoe-model__info .size span:first-child:before {
  content: "40 ";
}

.catalog__shoe-model__info .size span:first-child:after {
  content: "26.5см";
}

.catalog__shoe-model__info .size span:nth-child(2):before {
  content: "41";
}

.catalog__shoe-model__info .size span:nth-child(2):after {
  content: "27.5см";
}

.catalog__shoe-model__info .size span:nth-child(3):before {
  content: "42";
}

.catalog__shoe-model__info .size span:nth-child(3):after {
  content: "28см";
}

.catalog__shoe-model__info .size span:nth-child(4):before {
  content: "43";
}

.catalog__shoe-model__info .size span:nth-child(4):after {
  content: "28.5см";
}

.catalog__shoe-model__info .size span:nth-child(5):before {
  content: "44";
}

.catalog__shoe-model__info .size span:nth-child(5):after {
  content: "29см";
}

.catalog__shoe-model__info .size span:last-child:before {
  content: "45";
}

.catalog__shoe-model__info .size span:last-child:after {
  content: "29.5см";
}

.catalog__shoe-model__info .size span:nth-child(3), .catalog__shoe-model__info .size span:nth-child(4) {
  margin: 27px 0;
}

@media (max-width: 767px) {
  .catalog__shoe-model__info .size span:nth-child(3), .catalog__shoe-model__info .size span:nth-child(4) {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .catalog__shoe-model__info form {
    margin: 0 auto;
  }
}

.catalog__shoe-model h5 {
  color: #fff;
  position: absolute;
  bottom: 42px;
  left: 5%;
}

@media (max-width: 1199px) {
  .catalog__shoe-model h5 {
    left: 20px;
  }
}

@media (max-width: 979px) {
  .catalog__shoe-model h5 {
    position: static;
    text-align: center;
    margin-top: 15px;
  }
}

@media (max-width: 576px) {
  .catalog__shoe-model h5 {
    width: 73%;
    margin: 15px auto 0;
  }
}

.catalog__shoe-model h5 span {
  color: #66daff;
}

.catalog__shoe.peakfreak .catalog__shoe-model__img img.big {
  width: 50%;
  max-width: 553px;
  top: 61px;
  left: 3.57%;
}

@media (max-width: 1199px) {
  .catalog__shoe.peakfreak .catalog__shoe-model__img img.big {
    top: 101px;
    left: 10px;
  }
}

@media (max-width: 979px) {
  .catalog__shoe.peakfreak .catalog__shoe-model__img img.big {
    width: auto;
  }
}

@media (max-width: 767px) {
  .catalog__shoe.peakfreak .catalog__shoe-model__img img.big {
    width: 92%;
    min-width: 267px;
  }
}

.catalog__shoe.bugaboot {
  margin: 50px auto;
}

@media (max-width: 979px) {
  .catalog__shoe.bugaboot {
    margin: 15px auto;
  }
}

.catalog__shoe.bugaboot .catalog__shoe-model__img img.big {
  top: 25px;
  left: 4.46%;
}

@media (max-width: 1199px) {
  .catalog__shoe.bugaboot .catalog__shoe-model__img img.big {
    top: 45px;
    left: -10px;
  }
}

@media (max-width: 767px) {
  .catalog__shoe.bugaboot .catalog__shoe-model__img img.big {
    width: 92%;
    min-width: 267px;
    max-width: 553px;
  }
}

.catalog__shoe.bugaboot:before, .catalog__shoe.bugaboot:after {
  /* скрыть на lg */
  content: "";
  display: block;
  width: 171px;
  height: 955px;
  background: url("../img/catalog/logo.png") no-repeat center/cover;
  position: absolute;
  top: -155px;
}

@media (max-width: 1199px) {
  .catalog__shoe.bugaboot:before, .catalog__shoe.bugaboot:after {
    display: none;
  }
}

.catalog__shoe.bugaboot:before {
  left: -304px;
}

.catalog__shoe.bugaboot:after {
  right: -253px;
}

.catalog__shoe.mid .catalog__shoe-model__img img.big {
  top: 61px;
  left: 17.68%;
}

@media (max-width: 1199px) {
  .catalog__shoe.mid .catalog__shoe-model__img img.big {
    left: 15.68%;
  }
}

@media (max-width: 767px) {
  .catalog__shoe.mid .catalog__shoe-model__img img.big {
    width: 46%;
    min-width: 135px;
    max-width: 280px;
    margin: 0 auto;
    left: 0;
  }
}

.catalog__shoe.mid .catalog__shoe-model .size span:first-child:before {
  content: "37";
}

.catalog__shoe.mid .catalog__shoe-model .size span:first-child:after {
  content: "24см";
}

.catalog__shoe.mid .catalog__shoe-model .size span:nth-child(2):before {
  content: "38";
}

.catalog__shoe.mid .catalog__shoe-model .size span:nth-child(2):after {
  content: "24.5см";
}

.catalog__shoe.mid .catalog__shoe-model .size span:nth-child(3):before {
  content: "39";
}

.catalog__shoe.mid .catalog__shoe-model .size span:nth-child(3):after {
  content: "25см";
}

.catalog__shoe.mid .catalog__shoe-model .size span:nth-child(4):before {
  content: "40";
}

.catalog__shoe.mid .catalog__shoe-model .size span:nth-child(4):after {
  content: "26см";
}

.catalog__shoe.mid .catalog__shoe-model .size span:nth-child(5):before {
  content: "41";
}

.catalog__shoe.mid .catalog__shoe-model .size span:nth-child(5):after {
  content: "26.5см";
}

.catalog__shoe.mid .catalog__shoe-model .size span:last-child:before {
  content: "42";
}

.catalog__shoe.mid .catalog__shoe-model .size span:last-child:after {
  content: "27.5см";
}

.catalog__shoe.mid:before, .catalog__shoe.mid:after {
  /* скрыть на lg */
  content: "";
  display: block;
  position: absolute;
}

@media (max-width: 1199px) {
  .catalog__shoe.mid:before, .catalog__shoe.mid:after {
    display: none;
  }
}

.catalog__shoe.mid:before {
  width: 1629px;
  height: 1086px;
  background: url("../img/catalog/first.png") no-repeat center/cover;
  top: 117px;
  left: -1249px;
}

.catalog__shoe.mid:after {
  width: 1600px;
  height: 959px;
  background: url("../img/catalog/second.png") no-repeat center/cover;
  top: -6px;
  right: -1200px;
}

.catalog__spray {
  margin-top: 50px;
  position: relative;
  z-index: 9;
}

@media (max-width: 979px) {
  .catalog__spray {
    margin-top: 15px;
  }
}

.catalog__spray-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 60px 40px 45px;
  background: #464F62;
  border-radius: 20px;
  position: relative;
  z-index: 11;
  overflow: hidden;
}

@media (max-width: 1199px) {
  .catalog__spray-block {
    padding: 60px 20px 45px;
  }
}

@media (max-width: 979px) {
  .catalog__spray-block {
    padding: 15px 25px;
  }
}

@media (max-width: 576px) {
  .catalog__spray-block {
    padding: 15px 12px;
  }
}

.catalog__spray-block h4 {
  text-transform: uppercase;
  margin: 0 0 60px 245px;
}

@media (max-width: 1199px) {
  .catalog__spray-block h4 {
    margin-left: 225px;
  }
}

@media (max-width: 979px) {
  .catalog__spray-block h4 {
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 979px) {
  .catalog__spray-block .price {
    margin: 1px auto 15px;
  }
}

.catalog__spray-block__img {
  position: absolute;
  top: 26px;
  left: 40px;
}

@media (max-width: 1199px) {
  .catalog__spray-block__img {
    top: 50%;
    left: 20px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media (max-width: 979px) {
  .catalog__spray-block__img {
    position: static;
    margin: 0 auto;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}

@media (max-width: 576px) {
  .catalog__spray-block__img {
    width: 65%;
    min-width: 173px;
    max-width: 228px;
  }
}

@media (max-width: 576px) {
  .catalog__spray-block__img img {
    width: 100%;
  }
}

.catalog__spray-block ul {
  position: absolute;
  top: 153px;
  right: 40px;
}

@media (max-width: 1199px) {
  .catalog__spray-block ul {
    right: 20px;
  }
}

@media (max-width: 979px) {
  .catalog__spray-block ul {
    position: static;
    max-width: 265px;
    margin: 15px auto;
  }
}

.catalog__spray-block ul li span {
  color: #fff;
}

.catalog__spray-block ul li span:nth-child(1) {
  display: inline-block;
  width: 138px;
}

.catalog__spray-block p {
  max-width: 475px;
  color: #fff;
  margin-left: 245px;
}

@media (max-width: 1199px) {
  .catalog__spray-block p {
    margin-left: 225px;
    max-width: 400px;
  }
}

@media (max-width: 979px) {
  .catalog__spray-block p {
    max-width: 100%;
    margin: 0 auto;
  }
}

.catalog__spray-block p:nth-of-type(2) {
  margin: 37.5px 0 37.5px 245px;
}

@media (max-width: 1199px) {
  .catalog__spray-block p:nth-of-type(2) {
    margin-left: 225px;
  }
}

@media (max-width: 979px) {
  .catalog__spray-block p:nth-of-type(2) {
    margin: 20px auto;
  }
}

.catalog__spray-block form {
  position: absolute;
  bottom: 51px;
  right: 40px;
}

@media (max-width: 1199px) {
  .catalog__spray-block form {
    right: 20px;
  }
}

@media (max-width: 979px) {
  .catalog__spray-block form {
    position: static;
    margin: 15px auto 0;
  }
}

.catalog:before, .catalog:after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
}

.catalog:before {
  height: 35%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(96, 105, 122, 0)), color-stop(22.28%, rgba(96, 105, 122, 0.84)), color-stop(43.34%, #60697A));
  background: -o-linear-gradient(top, rgba(96, 105, 122, 0) 0%, rgba(96, 105, 122, 0.84) 22.28%, #60697A 43.34%);
  background: linear-gradient(180deg, rgba(96, 105, 122, 0) 0%, rgba(96, 105, 122, 0.84) 22.28%, #60697A 43.34%);
  top: 50px;
  z-index: 9;
}

.catalog:after {
  height: 66.93%;
  background: #60697a;
  bottom: 0;
  z-index: 8;
}

/*
    review style
 */
.review {
  background: #dbe3f1;
  padding: 61px 0 80px;
  position: relative;
  z-index: 15;
  overflow: hidden;
}

@media (max-width: 979px) {
  .review {
    padding: 0 0 35px;
  }
}

.review .container {
  position: relative;
}

.review .container .decor {
  background: url("../img/review/line.png") no-repeat center/cover;
  top: -263.23px;
  right: -563px;
}

@media (max-width: 979px) {
  .review .container .decor {
    display: none;
  }
}

.review picture {
  display: block;
  position: absolute;
  top: -61px;
  left: -400px;
}

@media (max-width: 979px) {
  .review picture {
    position: static;
  }
}

@media (max-width: 576px) {
  .review picture {
    width: 112%;
    min-width: 320px;
    position: relative;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.review picture img {
  width: 100%;
}

.review__content {
  width: 550px;
  margin-left: auto;
  position: relative;
  z-index: 9;
}

@media (max-width: 979px) {
  .review__content {
    width: 100%;
    max-width: 550px;
    margin: -55px auto 0;
  }
}

@media (max-width: 576px) {
  .review__content {
    margin-top: -35px;
  }
}

@media (max-width: 979px) {
  .review__content h3 {
    text-align: center;
  }
}

.review__content-slider {
  margin: 31px auto 32px;
  position: relative;
}

@media (max-width: 979px) {
  .review__content-slider {
    margin: -5px auto;
  }
}

.review__content-slider__block .slick-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0;
  position: relative;
  margin: 0 -27px;
}

.review__content-slider__block .slick-slide {
  margin: 0 27px;
}

.review__content-slider__block figure {
  max-width: 550px;
  margin: 0 auto;
  padding: 18px 42px 49px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

@media (max-width: 979px) {
  .review__content-slider__block figure {
    padding: 15px 12px 32px;
  }
}

.review__content-slider__block figure h4 {
  margin-bottom: 32px;
}

@media (max-width: 979px) {
  .review__content-slider__block figure h4 {
    margin-bottom: 16px;
  }
}

.review__content-slider__block ul.slick-dots {
  position: absolute;
  bottom: 41px;
  right: 62.5px;
  z-index: 11;
}

@media (max-width: 979px) {
  .review__content-slider__block ul.slick-dots {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    bottom: 35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.review__content-slider__nav {
  width: 121px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 37px;
  right: 42px;
}

@media (max-width: 979px) {
  .review__content-slider__nav {
    display: none;
  }
}

.review__content-slider__nav .prev-arrow, .review__content-slider__nav .next-arrow {
  width: 12px;
  height: 14px;
  background: url("../img/review/arrow.png") no-repeat center/cover;
  cursor: pointer;
}

.review__content-slider__nav .next-arrow {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.review__content h5 {
  text-align: center;
  color: #464f62;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 334px;
  padding: 12px 0 11px;
  border: 1px solid #464f62;
  border-radius: 45px;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 576px) {
  .review__content h5 {
    width: 100%;
    max-width: 334px;
    padding: 13px 0;
  }
}

.review__content h5:hover {
  color: #fff;
  background: #464f62;
}

/*
    information style
 */
.information {
  background: -o-linear-gradient(352.43deg, rgba(70, 79, 98, 0.8) 0%, rgba(180, 195, 208, 0.8) 100%), url("../img/information/bg.jpg") no-repeat center/cover;
  background: linear-gradient(97.57deg, rgba(70, 79, 98, 0.8) 0%, rgba(180, 195, 208, 0.8) 100%), url("../img/information/bg.jpg") no-repeat center/cover;
  padding: 62px 0 176px;
}

@media (max-width: 979px) {
  .information {
    padding: 22px 0 0;
  }
}

.information .container {
  position: relative;
}

.information .container .decor {
  background: url("../img/information/line.png") no-repeat center/cover;
  top: -225px;
  right: -348.61px;
}

@media (max-width: 979px) {
  .information .container .decor {
    display: none;
  }
}

.information .delivery {
  position: relative;
  z-index: 11;
}

.information .delivery h3 {
  text-align: center;
  color: #fff;
  margin-bottom: 70px;
  position: relative;
  z-index: 11;
}

@media (max-width: 979px) {
  .information .delivery h3 {
    margin-bottom: 33px;
  }
}

.information .delivery__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .information .delivery__content {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

@media (max-width: 1199px) {
  .information .delivery__content {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .information .delivery__content {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    max-width: 540px;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .information .delivery__content {
    display: block;
  }
}

.information .delivery__content-block {
  text-align: center;
}

@media (max-width: 767px) {
  .information .delivery__content-block {
    width: 49%;
    margin-bottom: 35px;
  }
}

@media (max-width: 576px) {
  .information .delivery__content-block {
    width: 100%;
  }
}

.information .delivery__content-block p {
  color: #fff;
}

@media (max-width: 979px) {
  .information .delivery__content-block p br {
    display: none;
  }
}

@media (max-width: 767px) {
  .information .delivery__content-block p br {
    display: block;
  }
}

@media (max-width: 767px) {
  .information .delivery__content-block:nth-of-type(3) {
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {
  .information .delivery__content-block:nth-of-type(3) {
    margin-bottom: 35px;
  }
}

@media (max-width: 767px) {
  .information .delivery__content-block:last-child {
    margin-bottom: 0;
  }
}

.information .banner {
  position: relative;
  z-index: 11;
}

.information .banner__content img.logo {
  margin: 80px 0;
}

@media (max-width: 979px) {
  .information .banner__content img.logo {
    margin: 31px auto 15px;
  }
}

@media (max-width: 979px) {
  .information .banner__content h2 {
    text-align: center;
    margin: 0 auto;
  }
}

.information .banner__content .price {
  margin: 20px 0;
}

@media (max-width: 979px) {
  .information .banner__content .price {
    margin: 15px auto;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .information .banner__content .price {
    text-align: left;
  }
}

.information .banner__content .price span.new-price {
  position: relative;
  display: inline-block;
}

@media (max-width: 767px) {
  .information .banner__content .price span.new-price:after {
    content: "";
    display: block;
    width: 76px;
    height: 66px;
    background: url("../img/header/arrow.png") no-repeat center/cover;
    position: absolute;
    top: -10px;
    right: -76px;
    -webkit-transform: rotate(32.66deg);
        -ms-transform: rotate(32.66deg);
            transform: rotate(32.66deg);
  }
}

@media (max-width: 576px) {
  .information .banner__content .price span.new-price:after {
    width: 47px;
    height: 41px;
    top: -5px;
    right: -47px;
  }
}

@media (max-width: 979px) {
  .information .banner__content .to-order {
    margin: 0 auto;
  }
}

.information .banner__content .to-order p {
  margin-top: 20px;
}

@media (max-width: 979px) {
  .information .banner__content .to-order p {
    text-align: center;
    margin-top: 7px;
  }
}

.information .banner__content-img {
  width: 131%;
  max-width: 1461px;
  position: absolute;
  bottom: -231px;
  right: -50.625%;
  z-index: -1;
}

@media (max-width: 1199px) {
  .information .banner__content-img {
    right: -48.625%;
  }
}

@media (max-width: 979px) {
  .information .banner__content-img {
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
    margin: -52px 0;
  }
}

@media (max-width: 767px) {
  .information .banner__content-img {
    width: 119%;
    min-width: 346px;
    left: -5%;
  }
}

@media (max-width: 576px) {
  .information .banner__content-img {
    margin: 0 0 -52px;
  }
}

.information .banner__content-img img {
  width: 100%;
}

.information .banner__content-img .sale {
  position: absolute;
  top: 54.19%;
  right: 49.3%;
}

@media (max-width: 979px) {
  .information .banner__content-img .sale {
    top: 33%;
    right: 0;
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

@media (max-width: 767px) {
  .information .banner__content-img .sale {
    top: 41%;
    right: 15%;
  }
}

@media (max-width: 576px) {
  .information .banner__content-img .sale {
    top: 20%;
    right: 12.28%;
  }
}

/*
    footer style
 */
.footer {
  height: 55px;
  background: #464f62;
}

/*
    feedback style
 */
.feedback {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 750px;
  padding: 50px 0;
  background: #f7f7ff;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateX(-90deg);
          transform: translate(-50%, -50%) rotateX(-90deg);
  z-index: -5;
  -webkit-transition: all 0.55s ease-in-out;
  -o-transition: all 0.55s ease-in-out;
  transition: all 0.55s ease-in-out;
  opacity: 0;
}

@media (max-width: 979px) {
  .feedback {
    width: 668px;
    height: auto;
    max-height: 90%;
    overflow-y: scroll;
    padding: 60px 20px 50px;
  }
}

@media (max-width: 767px) {
  .feedback {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .feedback {
    width: 90%;
    min-width: 290px;
  }
}

.feedback span.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.feedback > p {
  line-height: 23px;
  color: #222;
  text-align: center;
  display: none;
}

.feedback > p:before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background: url("../img/mailing.png") no-repeat center/cover;
  margin: 0 auto 13px;
}

.feedback form {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 97px 0 50px;
  position: relative;
}

@media (max-width: 979px) {
  .feedback form {
    padding: 0;
  }
}

.feedback form .form-group {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.feedback form .form-group input {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #444;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 13px 20px 14px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #888;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.feedback form .form-group input::-webkit-input-placeholder {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #444;
  opacity: 1;
}

.feedback form .form-group input::-moz-placeholder {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #444;
  opacity: 1;
}

.feedback form .form-group input:-ms-input-placeholder {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #444;
  opacity: 1;
}

.feedback form .form-group input::-ms-input-placeholder {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #444;
  opacity: 1;
}

.feedback form .form-group input::placeholder {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #444;
  opacity: 1;
}

.feedback form .form-group textarea {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #444;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #888;
  border-radius: 4px;
  resize: none;
}

.feedback form .form-group textarea::-webkit-input-placeholder {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #444;
  opacity: 1;
}

.feedback form .form-group textarea::-moz-placeholder {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #444;
  opacity: 1;
}

.feedback form .form-group textarea:-ms-input-placeholder {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #444;
  opacity: 1;
}

.feedback form .form-group textarea::-ms-input-placeholder {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #444;
  opacity: 1;
}

.feedback form .form-group textarea::placeholder {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #444;
  opacity: 1;
}

.feedback form .form-group button {
  line-height: 21px;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 250px;
  padding: 14px 0 15px;
  background: #5b67c8;
  border: none;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 576px) {
  .feedback form .form-group button {
    display: block;
    margin: 0 auto;
  }
}

.feedback form .form-group button:hover {
  background: #4755cc;
}

.feedback form .form-group.name {
  width: 250px;
}

@media (max-width: 576px) {
  .feedback form .form-group.name {
    width: 100%;
  }
}

.feedback form .form-group.rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 14px;
  right: 150px;
}

@media (max-width: 767px) {
  .feedback form .form-group.rating {
    position: static;
    margin: 20px 0;
  }
}

.feedback form .form-group.rating p {
  color: #222;
  margin-right: 9px;
}

.feedback form .form-group.rating .rating__area {
  width: 98px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.feedback form .form-group.rating .rating__area input {
  display: none;
}

.feedback form .form-group.rating .rating__area label.rating__item {
  cursor: pointer;
  position: relative;
}

.feedback form .form-group.rating .rating__area label.rating__item:hover ~ .rating__item {
  color: #fff;
}

.feedback form .form-group.rating .rating__area svg.rating__star {
  display: block;
  width: 18px;
  height: 17px;
  fill: currentColor;
  stroke: #444;
  stroke-width: 2px;
}

.feedback form .form-group.rating .rating__area:hover,
.feedback form .form-group.rating .rating__area .rating__control:nth-of-type(1):checked ~ .rating__item:nth-of-type(1),
.feedback form .form-group.rating .rating__area .rating__control:nth-of-type(2):checked ~ .rating__item:nth-of-type(-n+2),
.feedback form .form-group.rating .rating__area .rating__control:nth-of-type(3):checked ~ .rating__item:nth-of-type(-n+3),
.feedback form .form-group.rating .rating__area .rating__control:nth-of-type(4):checked ~ .rating__item:nth-of-type(-n+4),
.feedback form .form-group.rating .rating__area .rating__control:nth-of-type(5):checked ~ .rating__item:nth-of-type(-n+5) {
  color: #ffc107;
}

.feedback form .form-group.text {
  width: 603px;
  margin: 20px 0 30px;
}

@media (max-width: 979px) {
  .feedback form .form-group.text {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .feedback form .form-group.text {
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
