/*
    gallery style
 */

.gallery {
  padding: 43px 0;

  &__content {
    box-sizing: border-box;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;

    a {
      width: 20%;
      max-width: 360px;
      border-radius: 20px;
      transition: all 0.5s ease-in-out;
      position: relative;
      z-index: 9;

      img {
        width: 100%;
        border-radius: inherit;
      }

      &:hover {
        transform: scale(1.18);
        filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
        z-index: 11;

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}