/*
    review style
 */

.review {
  background: #dbe3f1;
  padding: 61px 0 80px;
  position: relative;
  z-index: 15;
  overflow: hidden;

  @include mq(md) {
    padding: 0 0 35px;
  }

  .container {
    position: relative;

    .decor {
      background: url("../img/review/line.png") no-repeat center/cover;
      top: -263.23px;
      right: -563px;

      @include mq(md) {
        display: none;
      }
    }
  }

  picture {
    display: block;
    position: absolute;
    top: -61px;
    left: -400px;

    @include mq(md) {
      position: static;
    }

    @include mq(xs) {
      width: 112%;
      min-width: 320px;
      position: relative;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    img {
      width: 100%;
    }
  }

  &__content {
    width: 550px;
    margin-left: auto;
    position: relative;
    z-index: 9;

    @include mq(md) {
      width: 100%;
      max-width: 550px;
      margin: -55px auto 0;
    }

    @include mq(xs) {
      margin-top: -35px;
    }

    h3 {

      @include mq(md) {
        text-align: center;
      }
    }

    &-slider {
      margin: 31px auto 32px;
      position: relative;

      @include mq(md) {
        margin: -5px auto;
      }

      &__block {

        .slick-list {
          box-sizing: border-box;
          padding: 20px 0;
          position: relative;
          margin: 0 -27px;
        }

        .slick-slide {
          margin: 0 27px;
        }

        figure {
          max-width: 550px;
          margin: 0 auto;
          padding: 18px 42px 49px;
          background: #FFFFFF;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
          border-radius: 20px;

          @include mq(md) {
            padding: 15px 12px 32px;
          }

          h4 {
            margin-bottom: 32px;

            @include mq(md) {
              margin-bottom: 16px;
            }
          }

          p {

          }
        }

        ul.slick-dots {
          position: absolute;
          bottom: 41px;
          right: 62.5px;
          z-index: 11;

          @include mq(md) {
            justify-content: center;
            bottom: 35px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }

      &__nav {
        width: 121px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 37px;
        right: 42px;

        @include mq(md) {
          display: none;
        }

        .prev-arrow, .next-arrow {
          width: 12px;
          height: 14px;
          background: url("../img/review/arrow.png") no-repeat center/cover;
          cursor: pointer;
        }

        .next-arrow {
          transform: scale(-1, 1);
        }
      }
    }

    h5 {
      text-align: center;
      color: #464f62;
      cursor: pointer;
      box-sizing: border-box;
      width: 334px;
      padding: 12px 0 11px;
      border: 1px solid #464f62;
      border-radius: 45px;
      margin: 0 auto;
      transition: all 0.5s ease-in-out;

      @include mq(xs) {
        width: 100%;
        max-width: 334px;
        padding: 13px 0;
      }

      &:hover {
        color: #fff;
        background: #464f62;
      }
    }
  }
}