/*
    header style
 */

.header {
  background: linear-gradient(97.57deg, rgba(70, 79, 98, 0.8) 0%, rgba(180, 195, 208, 0.8) 100%), url("../img/header/bg.jpg") no-repeat center/cover;
  padding: 47px 0 65px;

  @include mq(md) {
    padding: 15px 0 25px;
  }

  .container {
    position: relative;

    .decor {
      background: url("../img/header/line.png") no-repeat center/cover;
      top: -301.64px;
      left: -565px;

      @include mq(md) {
        left: -445px;
      }

      @include mq(s) {
        left: -345px;
      }

      @include mq(xs) {
        background: url("../img/header/line-md.png") no-repeat center/cover;
        top: -318.68px;
        left: -180.69px;
      }
    }
  }

  &__content {
    position: relative;
    z-index: 9;

    img.logo {

    }

    &-img {
      width: 92%;
      position: absolute;
      top: -44.21px;
      right: -319.98px;

      @include mq(xl) {
        right: -225.98px;
      }

      @include mq(lg) {
        width: 75%;
        top: 160px;
        right: -125.98px;
      }

      @include mq(md) {
        width: 100%;
        position: relative;
        top: 0;
        left: -7%;
        margin: -25px 0 -55px;
      }

      @include mq(xs) {
        width: 129%;
        left: -22.41%;
        margin: 0 0 -33px;
      }

      img {
        width: 100%;
      }

      .sale {
        position: absolute;
        top: 10.50%;
        right: 31.18%;

        @include mq(lg) {
          top: 29.5%;
          right: 19.18%;
        }

        @include mq(md) {
          top: 15px;
          right: 60px;
        }

        @include mq(s) {
          right: 30px;
        }

        @include mq(xs) {
          right: 20px;
        }
      }
    }

    h1 {
      margin: 51px 0 20px;

      @include mq(md) {
        margin: 0 auto;
        text-align: center;
      }
    }

    p.title {

      @include mq(md) {
        text-align: center;
        margin: 0 auto;
      }

      @include mq(s) {
        display: none;
      }
    }

    .price {
      margin: 30px 0;

      @include mq(md) {
        text-align: center;
      }

      span {

        &.new-price {
          position: relative;
          display: inline-block;

          &:after {
            content: "";
            display: block;
            width: 105px;
            height: 91px;
            background: url("../img/header/arrow.png") no-repeat center/cover;
            transform: rotate(100.8deg);
            position: absolute;
            top: 45.4px;
            right: -90.03px;

            @include mq(s) {
              width: 76px;
              height: 66px;
              top: 30px;
              right: -76px;
            }

            @include mq(xs) {
              width: 47px;
              height: 41px;
              top: -5px;
              right: -43px;
              transform: rotate(32.66deg);
            }
          }
        }
      }
    }

    .to-order {

      @include mq(md) {
        margin: 0 auto 0;
      }

      p {

        @include mq(md) {
          margin-top: 15px;
          text-align: center;
        }
      }
    }
  }
}