/*
    gallery style
 */

.gallery {
  padding: 0 0 43px;

  @include mq(md) {
    padding: 0;
  }

  &__content {
    box-sizing: border-box;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;

    @include mq(s) {
      display: none;
    }

    a {
      width: 20%;
      max-width: 360px;
      border-radius: 20px;
      transition: all 0.5s ease-in-out;
      position: relative;
      z-index: 9;

      @include mq(xxl) {
        width: 19%;
      }

      img {
        width: 100%;
        border-radius: inherit;
      }

      &:hover {
        transform: scale(1.18);
        filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
        z-index: 11;

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }

  &__mobile {
    display: none;
    position: relative;
    z-index: 11;

    @include mq(s) {
      display: block;
    }

    .slick-track {
      display: flex;
      align-items: center;
    }

    &-item {

      a {
        border-radius: 20px;

        img {
          width: 100%;
          border-radius: inherit;
        }
      }
    }

    ul.slick-dots {
      display: flex;
      margin-top: -20px;
      position: relative;
      z-index: 20;
    }
  }
}