/*
    catalog style
 */

.catalog {
  padding-bottom: 80px;
  position: relative;

  @include mq(md) {
    padding-bottom: 35px;
  }

  h4 {
    color: #fff;
  }

  .price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 52px;
    right: 40px;

    @include mq(lg) {
      right: 20px;
    }

    @include mq(md) {
      position: static;
      display: block;
      text-align: center;
    }

    span {

      &.old-price {
        font-size: 18px;
        line-height: 25px;
        order: 2;
        margin: 3px 0 0;

        @include mq(md) {
          margin: 0 20px 0 0;
        }

        @include mq(xs) {
          margin: 0 15px 0 0;
        }
      }

      &.new-price {
        font-size: 36px;
        line-height: 49px;
        order: 1;
      }
    }
  }

  form {
    width: 265px;

    @include mq(xs) {
      width: 91%;
      min-width: 265px;
      max-width: 390px;
    }

    .form-group {

      input {
        font-family: $r, sans-serif;
        font-size: 18px;
        line-height: 25px;
        color: #fff;
        box-sizing: border-box;
        width: 100%;
        padding: 7px 27px 6px;
        background: transparent;
        border: 1px solid #fff;
        border-radius: 45px;
        transition: all 0.25s ease-in-out;

        &::placeholder {
          font-family: inherit;
          font-size: inherit;
          line-height: inherit;
          color: #fff !important;
          opacity: 1;
        }

        &:active, &:focus, &:required {
          outline: none;
        }

        &:active, &:focus {
          color: #dff029;
          border: 1px solid #dff029;
        }
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus
      input:-webkit-autofill,
      textarea:-webkit-autofill,
      textarea:-webkit-autofill:hover
      textarea:-webkit-autofill:focus,
      select:-webkit-autofill,
      select:-webkit-autofill:hover,
      select:-webkit-autofill:focus {
        -webkit-text-fill-color: #fff;
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        transition: background-color 5000s ease-in-out 0s;
        background: transparent;
        border: 1px solid #fff;
        color: #fff !important;
      }

      button {
        padding: 9px 0 8px;
      }

      &.tel {
        margin: 15px auto;
      }
    }
  }

  .decor {
    background: url("../img/catalog/line.png") no-repeat center/cover;
    top: -323.23px;
    right: -162.61px;
    z-index: -1;

    @include mq(md) {
      display: none;
    }
  }

  &__shoe {
    position: relative;
    z-index: 9;

    &-model {
      box-sizing: border-box;
      padding: 64px 40px 51px;
      background: #464f62;
      border-radius: 20px;
      position: relative;
      z-index: 11;
      overflow: hidden;

      @include mq(lg) {
        padding: 64px 20px 51px;
      }

      @include mq(md) {
        padding: 15px 25px;
      }

      @include mq(xs) {
        padding: 15px 12px;
      }

      img.logo {
        width: 178px;
        position: absolute;
        top: 58px;
        left: 40px;

        @include mq(lg) {
          left: 20px;
        }

        @include mq(md) {
          position: static;
          margin: 0 auto;
        }

        @include mq(xs) {
          min-width: 178px;
        }
      }

      h4 {
        width: 415px;
        margin-left: auto;

        @include mq(md) {
          margin: 10px auto 1px;
          text-align: center;
        }

        @include mq(xs) {
          width: 100%;
        }
      }

      &__img {

        img.big {
          position: absolute;

          @include mq(md) {
            position: static;
          }
        }

        .image {
          width: 49%;
          max-width: 543px;
          display: flex;
          justify-content: space-between;
          position: absolute;
          bottom: 95px;
          left: 5%;

          @include mq(lg) {
            left: 20px;
          }

          @include mq(md) {
            width: 100%;
            position: static;
            margin: 0 auto;
          }

          a {
            width: 29%;
            max-width: 157px;
            border-radius: 20px;
            transition: all 0.5s ease-in-out;

            @include mq(xs) {
              width: 31%;
              min-width: 84px;
              border-radius: 10px;
            }

            img {
              width: 100%;
              border-radius: inherit;
            }

            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }

      ul {
        width: 415px;
        margin: 62px 0 30px auto;

        @include mq(md) {
          margin: 15px auto 34px;
        }

        @include mq(xs) {
          width: 100%;
          max-width: 415px;
        }

        li {
          display: flex;
          justify-content: space-between;

          span {
            color: #fff;

            &:nth-child(1) {
              display: inline-block;
              width: 249px;

              @include mq(xs) {
                width: 139px;
              }
            }

            &:nth-child(2) {
              display: inline-block;
              width: calc(100% - 249px);

              @include mq(xs) {
                width: calc(100% - 139px);
              }
            }
          }
        }
      }

      &__info {
        width: 415px;
        margin-left: auto;
        display: flex;
        justify-content: space-between;

        @include mq(md) {
          margin: 0 auto;
        }

        @include mq(s) {
          display: block;
        }

        @include mq(xs) {
          width: 100%;
        }

        .size {
          width: 90px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          @include mq(s) {
            width: 265px;
            margin: 0 auto 39px;
          }

          span {
            text-align: center;
            color: #fff;
            display: block;
            box-sizing: border-box;
            width: 35px;
            height: 35px;
            background: transparent;
            border: 1px solid #fff;
            border-radius: 50%;
            cursor: pointer;
            position: relative;
            transition: all 0.5s ease-in-out;

            &:before, &:after {
              content: "";
              display: block;
              position: absolute;
              font-family: $r, sans-serif;
              transition: inherit;
            }

            &:before {
              font-size: 18px;
              line-height: 25px;
              color: #fff;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }

            &:after {
              font-size: 14px;
              line-height: 19px;
              text-align: left;
              color: #66daff;
              width: 53px;
              top: -23px;
              left: 0;
              opacity: 0;

              @include mq(s) {
                text-align: center;
                top: calc(100% + 5px);
                left: 50%;
                transform: translateX(-50%);
              }
            }

            &.active {
              background: #66daff;
              border: 1px solid #66daff;

              &:before {
                color: #464f62;
              }

              &:after {
                opacity: 1;
              }
            }

            &:first-child {

              &:before {
                content: "40 ";
              }

              &:after {
                content: "26.5см";
              }
            }

            &:nth-child(2) {

              &:before {
                content: "41";
              }

              &:after {
                content: "27.5см";
              }
            }

            &:nth-child(3) {

              &:before {
                content: "42";
              }

              &:after {
                content: "28см";
              }
            }

            &:nth-child(4) {

              &:before {
                content: "43";
              }

              &:after {
                content: "28.5см";
              }
            }

            &:nth-child(5) {

              &:before {
                content: "44";
              }

              &:after {
                content: "29см";
              }
            }

            &:last-child {

              &:before {
                content: "45";
              }

              &:after {
                content: "29.5см";
              }
            }

            &:nth-child(3), &:nth-child(4) {
              margin: 27px 0;

              @include mq(s) {
                margin: 0;
              }
            }
          }
        }

        form {

          @include mq(s) {
            margin: 0 auto;
          }
        }
      }

      h5 {
        color: #fff;
        position: absolute;
        bottom: 42px;
        left: 5%;

        @include mq(lg) {
          left: 20px;
        }

        @include mq(md) {
          position: static;
          text-align: center;
          margin-top: 15px;
        }

        @include mq(xs) {
          width: 83%;
          margin: 15px auto 0;
        }

        span {
          color: #66daff;
        }
      }
    }

    &.peakfreak {

      .catalog__shoe-model {

        &__img {

          img.big {
            width: 50%;
            max-width: 553px;
            top: 61px;
            left: 3.57%;

            @include mq(lg) {
              top: 101px;
              left: 10px;
            }

            @include mq(md) {
              width: auto;
            }

            @include mq(s) {
              width: 92%;
              min-width: 267px;
            }
          }
        }
      }
    }

    &.bugaboot {
      margin: 50px auto;

      @include mq(md) {
        margin: 15px auto;
      }

      .catalog__shoe-model {

        &__img {

          img.big {
            top: 25px;
            left: 4.46%;

            @include mq(lg) {
              top: 45px;
              left: -10px;
            }

            @include mq(s) {
              width: 92%;
              min-width: 267px;
              max-width: 553px;
            }
          }
        }
      }

      &:before, &:after {
        /* скрыть на lg */
        content: "";
        display: block;
        width: 171px;
        height: 955px;
        background: url("../img/catalog/logo.png") no-repeat center/cover;
        position: absolute;
        top: -155px;

        @include mq(lg) {
          display: none;
        }
      }

      &:before {
        left: -304px;
      }

      &:after {
        right: -253px;
      }
    }

    &.mid {

      .catalog__shoe-model {

        &__img {

          img.big {
            top: 61px;
            left: 17.68%;

            @include mq(lg) {
              left: 15.68%;
            }

            @include mq(s) {
              width: 46%;
              min-width: 135px;
              max-width: 280px;
              margin: 0 auto;
              left: 0;
            }
          }
        }

        .size {

          span {

            &:first-child {

              &:before {
                content: "37";
              }

              &:after {
                content: "24см";
              }
            }

            &:nth-child(2) {

              &:before {
                content: "38";
              }

              &:after {
                content: "24.5см";
              }
            }

            &:nth-child(3) {

              &:before {
                content: "39";
              }

              &:after {
                content: "25см";
              }
            }

            &:nth-child(4) {

              &:before {
                content: "40";
              }

              &:after {
                content: "26см";
              }
            }

            &:nth-child(5) {

              &:before {
                content: "41";
              }

              &:after {
                content: "26.5см";
              }
            }

            &:last-child {

              &:before {
                content: "42";
              }

              &:after {
                content: "27.5см";
              }
            }
          }
        }
      }

      &:before, &:after {
        /* скрыть на lg */
        content: "";
        display: block;
        position: absolute;

        @include mq(lg) {
          display: none;
        }
      }

      &:before {
        width: 1629px;
        height: 1086px;
        background: url("../img/catalog/first.png") no-repeat center/cover;
        top: 117px;
        left: -1249px;
      }

      &:after {
        width: 1600px;
        height: 959px;
        background: url("../img/catalog/second.png") no-repeat center/cover;
        top: -6px;
        right: -1200px;
      }
    }
  }

  &__spray {
    margin-top: 50px;
    position: relative;
    z-index: 9;

    @include mq(md) {
      margin-top: 15px;
    }

    &-block {
      box-sizing: border-box;
      padding: 60px 40px 45px;
      background: #464F62;
      border-radius: 20px;
      position: relative;
      z-index: 11;
      overflow: hidden;

      @include mq(lg) {
        padding: 60px 20px 45px;
      }

      @include mq(md) {
        padding: 15px 25px;
      }

      @include mq(xs) {
        padding: 15px 12px;
      }

      h4 {
        text-transform: uppercase;
        margin: 0 0 60px 245px;

        @include mq(lg) {
          margin-left: 225px;
        }

        @include mq(md) {
          margin: 0 auto;
          text-align: center;
        }
      }

      .price {

        @include mq(md) {
          margin: 1px auto 15px;
        }
      }

      &__img {
        position: absolute;
        top: 26px;
        left: 40px;

        @include mq(lg) {
          top: 50%;
          left: 20px;
          transform: translateY(-50%);
        }

        @include mq(md) {
          position: static;
          margin: 0 auto;
          transform: none;
        }

        @include mq(xs) {
          width: 65%;
          min-width: 173px;
          max-width: 228px;
        }

        img {

          @include mq(xs) {
            width: 100%;
          }
        }
      }

      ul {
        position: absolute;
        top: 153px;
        right: 40px;

        @include mq(lg) {
          right: 20px;
        }

        @include mq(md) {
          position: static;
          max-width: 265px;
          margin: 15px auto;
        }

        li {

          span {
            color: #fff;

            &:nth-child(1) {
              display: inline-block;
              width: 138px;
            }

            &:nth-child(2) {

            }
          }
        }
      }

      p {
        max-width: 475px;
        color: #fff;
        margin-left: 245px;

        @include mq(lg) {
          margin-left: 225px;
          max-width: 400px;
        }

        @include mq(md) {
          max-width: 100%;
          margin: 0 auto;
        }

        &:nth-of-type(2) {
          margin: 37.5px 0 37.5px 245px;

          @include mq(lg) {
            margin-left: 225px;
          }

          @include mq(md) {
            margin: 20px auto;
          }
        }
      }

      form {
        position: absolute;
        bottom: 51px;
        right: 40px;

        @include mq(lg) {
          right: 20px;
        }

        @include mq(md) {
          position: static;
          margin: 15px auto 0;
        }
      }
    }
  }

  &:before, &:after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
  }

  &:before {
    height: 35%;
    background: linear-gradient(180deg, rgba(96, 105, 122, 0) 0%, rgba(96, 105, 122, 0.84) 22.28%, #60697A 43.34%);
    top: 50px;
    z-index: 9;
  }

  &:after {
    height: 66.93%;
    background: #60697a;
    bottom: 0;
    z-index: 8;
  }
}