/*
    advantages style
 */

.advantages {
  padding: 79px 0 123px;
  position: relative;
  overflow: hidden;
  background: #dbe3f1;

  @include mq(md) {
    padding: 12px 0 35px;
  }

  .container {
    position: relative;

    .decor {
      background: url("../img/advantages/line.png") no-repeat center/cover;
      top: -282.23px;
      right: -562px;

      @include mq(md) {
        display: none;
      }
    }
  }

  &__content {
    position: relative;
    z-index: 9;

    &-img {
      width: 74%;
      position: absolute;
      top: -19px;
      left: -27.77%;

      @include mq(xl) {
        width: 60%;
        top: 50%;
        left: -6.77%;
        transform: translateY(-50%);
      }

      @include mq(md) {
        position: relative;
        width: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      img {
        width: 100%;
      }

      figure {
        width: 37px;
        height: 37px;
        position: absolute;

        svg {
          width: 100%;
          height: 100%;

          circle {
            transition: all 0.5s ease-in-out;
          }
        }

        &:before, &:after {
          content: "";
          display: block;
          background: #fff;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &:before {
          width: 2px;
          height: 14px;
        }

        &:after {
          width: 14px;
          height: 2px;
        }

        &.first {
          top: 13.58%;
          right: 39.17%;
        }

        &.second {
          top: 38.28%;
          right: 37.58%;
        }

        &.third {
          top: 42.32%;
          left: 45.86%;
        }

        &.fourth {
          top: 60.23%;
          left: 37.37%;
        }

        &.fifth {
          width: 41px;
          height: 41px;
          top: 65.9%;
          right: 21.35%;
        }

        &.active {

          svg {

            circle {
              &:nth-child(1) {
                fill: #66DAFF;
                fill-opacity: 0.5;
              }

              &:nth-child(2) {
                stroke: #66DAFF;
              }
            }
          }
        }
      }
    }

    &-info {
      width: 59%;
      max-width: 652px;
      margin-left: auto;

      @include mq(xl) {
        width: 51%;
      }

      @include mq(lg) {
        width: 53%;
      }

      @include mq(md) {
        width: 100%;
        max-width: 100%;
      }

      h3 {
        margin: 0 0 30px 10px;

        @include mq(lg) {
          margin-left: 0;
        }

        @include mq(md) {
          margin: 5.62px auto 15px;
          text-align: center;
        }
      }

      ul {

        li {
          box-sizing: border-box;
          padding-left: 57px;
          color: #464f62;
          margin-bottom: 24.75px;
          position: relative;

          h4 {

          }

          p {

          }

          &:before {
            content: "";
            font-family: $b, sans-serif;
            font-size: 24px;
            line-height: 33px;
            text-align: center;
            color: #464f62;
            display: block;
            width: 47px;
            padding: 7px 0;
            border-radius: 50%;
            position: absolute;
            top: -7px;
            left: 0;
            transition: all 0.5s ease-in-out;

            @include mq(s) {
              font-size: 21px;
              line-height: 29px;
              padding: 9px 0;
            }

            @include mq(xs) {
              font-size: 18px;
              line-height: 25px;
              padding: 11px 0;
            }
          }

          &:first-child {

            &:before {
              content: "01";
            }
          }

          &:nth-child(2) {

            &:before {
              content: "02";
            }
          }

          &:nth-child(3) {

            &:before {
              content: "03";
            }
          }

          &:nth-child(4) {

            &:before {
              content: "04";
            }
          }

          &:last-child {
            margin-bottom: 0;

            &:before {
              content: "05";
            }
          }

          &.active {

            &:before {
              color: #fff;
              background: #464f62;
            }
          }
        }
      }
    }
  }
}